@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        System.Net.Mail.MailAddress addr = new System.Net.Mail.MailAddress(User.Identity.GetUserName());

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + addr.User + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "text-capitalize" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><button data-placement="bottom" data-html="true" data-toggle="popover" data-container="body" type="button" class="btn btn-default navbar-btn navbar-right">Login As</button></li>
    </ul>
    <div id="popover-content" class="hide">
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Gandalf').submit()">
                    <img src="~/Content/Images/gandalf.png" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "gandalf@lotr.com", Password = "Password@123", Name = "Gandalf" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Legolas').submit()">
                    <img src="~/Content/Images/Legolas.gif" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "legolas@lotr.com", Password = "Password@123", Name = "Legolas" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Aragorn').submit()">
                    <img src="~/Content/Images/Aragorn.jpg" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "aragorn@lotr.com", Password = "Password@123", Name = "Aragorn" })
        </div>


        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Frodo').submit()">
                    <img src="~/Content/Images/Frodo.png" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "frodo@lotr.com", Password = "Password@123", Name = "Frodo" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Sam').submit()">
                    <img src="~/Content/Images/sam.png" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "sam@lotr.com", Password = "Password@123", Name = "Sam" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Gimli').submit()">
                    <img src="~/Content/Images/gimli.jpg" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "gimli@lotr.com", Password = "Password@123", Name = "Gimli" })
        </div>


        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Merry').submit()">
                    <img src="~/Content/Images/merry.jpg" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "merry@lotr.com", Password = "Password@123", Name = "Merry" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Pippin').submit()">
                    <img src="~/Content/Images/pippin.png" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "pippin@lotr.com", Password = "Password@123", Name = "Pippin" })
        </div>
        <div class="pull-left box">
            <div class="clearfix">
                <a href="javascript:document.getElementById('Boromir').submit()">
                    <img src="~/Content/Images/boromir.jpg" alt="..." class="img-circle pull-left">
                </a>
            </div>
            @Html.Partial("LoginImmediatly", new CommentSystems.Models.LoginViewModel() { Email = "boromir@lotr.com", Password = "Password@123", Name = "Boromir" })
        </div>

    </div>
}